.admin-navigation calcite-dropdown {
  --calcite-dropdown-width: auto;
  min-width: 180px;
}

.admin-navigation calcite-menu-item[slot="trigger"] {
  width: auto;
  min-width: 175px;
}

.admin-navigation calcite-dropdown-item {
  width: auto;
  min-width: 170px;
}

.admin-navigation calcite-menu {
  --calcite-menu-min-width: auto; 
}

/* Ensure dropdown items are properly aligned */
.admin-navigation   calcite-dropdown-group {
  width: 100%;
}

/* Add hover effect for dropdown items */
.admin-navigation calcite-dropdown-item:hover {
  background-color: var(--calcite-ui-foreground-2);
}

/* Ensure consistent padding */
.admin-navigation calcite-menu-item[slot="trigger"],
.admin-navigation calcite-dropdown-item {
  padding: 0.3rem 0.1rem 0.2rem 0.1rem;
}

/* Ensure icons are aligned */
.admin-navigation calcite-dropdown-item calcite-icon {
  margin-right: 0.5rem;
} 